@{
    ViewBag.Title = "Contact";
}


<p style="text-align: center;"><b>@ViewBag.Title.</b></p>

<div class="iletisimorta">
    .isim <input type="textarea"></br>
    .soyisim <input type="textarea"></br>
    .email <input type="textarea"></br>
    .mesaj <input type="textarea"></br>
    <input type="submit">
</div>


