
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<section id="main" class="column">

    <h4 class="alert_info">Admin Paneli</h4>



    <h4 class="alert_warning">Yan tarafdan gerekli işlemleri uygulaya bilirsiniz!</h4>



    